----------
# same as .vscode/settings.json
Language: Cpp
BasedOnStyle: Google
UseTab: Always
ColumnLimit: 120
BreakBeforeBraces: Attach
IndentWidth: 4
TabWidth: 4
AllowShortFunctionsOnASingleLine : false
AllowAllConstructorInitializersOnNextLine: true
ConstructorInitializerAllOnOneLineOrOnePerLine: false 
--------------